<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="MA.Boytrix" connectionString="Data Source=178.255.70.173;Initial Catalog=boytrix_dev;Integrated Security=False;UID=boytrix_dev;PWD=spinach-12345678;" />
      <add name="BoytrixWPFConn" connectionString="Data Source=ROY-PC;Initial Catalog=boytrix;Integrated Security=true;" />
    </connectionStrings>  
  </configuration>